@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* @custom-variant dark (&:is(.dark *)); */

@theme {
  --font-Urbanist: "Urbanist", "sans-serif";
  --font-Inter: "Inter", "sans-serif";
  /* --color-p1: #ff3811; */

  --breakpoint-3xs: 328px;
  --breakpoint-2xs: 410px;
  --breakpoint-xs: 512px;
  --breakpoint-sm: 640px;
  --breakpoint-2sm: 704px;
  --breakpoint-md: 768px;
  --breakpoint-2md: 832px;
  --breakpoint-lg: 1024px;
  --breakpoint-2lg: 1120px;
  --breakpoint-cw: 1480px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --color-p1: #caeb66;
  --color-blackOne: #303030;
  --color-blackNav: #606060;
  --color-borderOne: #dadada;
  --color-borderTwo: #067a87;
  --color-navArrow: #1f1f1f;
  --color-workText: #03373d;
  --color-workDesc: #606060;
  --color-faqAnswerbg: #e6f2f3;
  --color-footerbg: #0b0b0b;
  --color-formText: #0f172a;
  --color-formInputBorder: #cbd5e1;
  --color-placeholer: #94a3b8;
  --color-deepBlue: #1d7d70;
  --color-loginBorder: #cbd5e1;
}

@theme inline {
  --radius-sm: 12px;
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: 16px;
  --radius-xl: 20px;
  --radius-2xl: 24px;
  --color-background: var(--background);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);

  --color-secondary: var(--secondary);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}
html,
body {
  overflow-x: hidden;
  width: 100%;
}

:root {
  --radius: 0.625rem;
  --background: #eaeced;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.97 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

/* body {
  margin: 0;
  padding: 0;
} */

@layer components {
  /* .customWidth {
    @apply 2xl:w-[1500px] xl:w-[1190px] 2lg:w-[1080px] lg:w-[980px] md:w-[704px] 2sm:w-[660px] sm:w-[600px]  w-[350px] xs:w-[410px] 2xs:w-[380px] 3xs:w-[320px]  mx-auto;
  } */

  /* cw:px-2 md:px-5 px-3 */

  .customWidth {
    @apply max-w-370 mx-auto;
  }

  .navSignIn {
    @apply border-borderOne cursor-pointer px-4 py-2 rounded-sm border text-[16px] font-bold text-blackNav transition-all duration-300 sm:px-6 sm:py-3 sm:text-[18px] lg:px-7 lg:py-3 lg:text-[18px] xl:px-8 xl:py-4 xl:text-[20px];
  }
  .navBeRider {
    @apply cursor-pointer px-4 py-2 rounded-sm bg-p1 text-navArrow font-bold text-[16px] sm:px-6 sm:py-3 sm:text-[18px] lg:px-7 lg:py-3 lg:text-[18px] xl:px-8 xl:py-4 xl:text-[20px];
  }

  .navIcon {
    @apply hover:cursor-pointer py-[11px] px-[19px] hover:font-bold hover:bg-p1 hover:text-[#5B6A2E] rounded-full transition-all duration-300;
    position: relative;
  }

  .navIcon::before {
    content: attr(aria-label);
    font-weight: bold;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    position: absolute;
  }
  .navList li {
    @apply text-blackNav font-medium;
  }

  .fiftySix {
    @apply text-[56px] font-extrabold text-workText;
  }

  .shortWidth {
    @apply w-full max-w-[1282px] mx-auto px-3 md:px-5 cw:px-0;
  }

  .mainTitle {
    @apply text-workText text-center font-extrabold text-[40px] leading-[40px] mt-10 mb-4;
  }
  .commonDescription {
    @apply text-blackNav text-center;
  }

  .subTitle {
    @apply lg:text-xl text-lg text-white;
  }
  .shortTitle {
    @apply text-workText font-bold;
  }
  .formLevel {
    @apply text-sm font-semibold text-formText mb-[6px];
  }
  .riderFormInput {
    @apply outline-none placeholder:text-placeholer focus:border-2 focus:border-deepBlue w-full sm:w-[304px] h-[40px] pl-3 mb-5 border border-formInputBorder rounded-[6px];
  }
  .addFlex {
    @apply flex justify-center items-center;
  }
  .addFlexItems {
    @apply flex  items-center;
  }
  .addFlexBetween {
    @apply flex justify-between items-center;
  }
  /* text-d1  */
  .smallDesc {
    @apply font-medium;
  }

  .footerIcons li {
    @apply text-borderOne;
  }

  .btnRegular {
    @apply py-[11px] px-[19px] text-navArrow font-bold bg-p1  rounded-full;
  }

  body {
    @apply bg-background font-Urbanist;
  }
}

body {
  overflow-x: hidden;
  /* scrollbar-gutter: stable; */
}

.detailsBg {
  border-radius: 10px;
  background:
    linear-gradient(90deg, #151515 0%, rgba(21, 21, 21, 0) 100%),
    url("https://asset.scott-sports.com/sco/sco-bike-wide-banner-patron-021224_2195388.jpg?signature=c656917f811cd8e7587c9b95ea38b54357c56e5ad21d287a613676567d316afe");
  background-position: right 0px; /* Ensures the right side is prioritized */
  background-size: cover;
}

.customShadow {
  box-shadow: 0px 0px 13.64px 0px #0000001a;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background;
  }
}

/* --color-p2: #29b170;

  --color-b1: #363636;
  --color-b2: #e9e9e9;
  --color-b3: #d9d9d9;
  --color-d1: #737373;
  --color-d2: #333333;
  --color-footerGray: #b7b7b7;
  --color-t1: #464646;
  --color-b2: #d9d9d9;
  --breakpoint-3xl: 1920px;
  --color-lowWhite: #f9fafb;
  --color-navWhite: #f8fafc; */
